.Cell{
    position: relative;
    width: 10px;
    height: 10px;
    float:left;
    border: 0px;
    padding: 0px;
    margin: 0px;
}


.triangle{
    width: 0;
    height: 0;
    position: relative;
    border-top: solid transparent;
    border-bottom: solid transparent;
    border-left: solid white;
}
#container{
    display: grid;
}